# ================= PRODUCT SERVICE =================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: product-service:v1 # Uses local tag
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://mysqldb:3306/productdb" # Points to K8s Service 'mysqldb'
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  type: LoadBalancer # Exposes to localhost:8080
  selector:
    app: product-service
  ports:
    - port: 8080
      targetPort: 8080

# ================= ORDER SERVICE =================
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: order-service:v1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
        # No env needed; your Java code hardcodes "mongodb:27017"
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  type: LoadBalancer # Exposes to localhost:8081
  selector:
    app: order-service
  ports:
    - port: 8081
      targetPort: 8081

# ================= FRONTEND =================
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: frontend:v1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: LoadBalancer # Exposes to localhost:3000
  selector:
    app: frontend
  ports:
    - port: 3000 # Browser Port
      targetPort: 80 # Container Port (Nginx)